__pycache__/
.vscode/
graficos/*.png
graficos/*.csv
extras/
*.sh
!backup.sh
desarollo.md
consultas.sqlite
bot_token.txt
sugeridos.txt
crontab.txt
test.*
sqlite3.exe
monitoreo_juegos_todo.db
venv/
bd/sqldiff.exe
bd/sqlite3_analyzer.exe
bd/monitoreo_juegos.db
bd/monitoreo_scripts.sql
bd/manual_backup.py