__pycache__/
.vscode/
temp/*
!temp/readme.txt
db/*
!db/readme.txt
logs/*
!logs/readme.txt
db/*
!db/readme.txt
extras/
monitoreo_juegos.db*
consultas.sqlite
bot_token.txt
sqlite3.exe
monitoreo_juegos_todo.db
.env