[Unit]
Description=Monitor de precios de juegos

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/monitoreo_juegos
StandardOutput=append:/home/ubuntu/monitoreo_juegos/logs/log_bot.txt
StandardError=append:/home/ubuntu/monitoreo_juegos/logs/log_bot.txt
ExecStart=/usr/bin/python3 bot_tg.py
Restart=always

[Install]
WantedBy=multi-user.target
